body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background:rgb(241, 241, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:inherit;
}

* {
  box-sizing: border-box;
}

h3 {
  margin:0;
}


button {
  position: relative;
  margin-top:15px;
  margin-right:10px;
  font-size:1rem;
  padding:0.5rem;
  background:rgb(255, 255, 255);
  border:none;
  border-radius:3px;
  animation: appear-right 0.3s;
  cursor: pointer;
}

.active{
  background:#6842CF;
  color:white;
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.212);
}

@keyframes appear {
  0% {
      opacity:0;
      top:-10px;
  }
  
  100% {
      opacity: 1;
      top:0;
  }
}

@keyframes appear-right{
  0% {
      opacity:0;
      right:-10px;
  }
  
  100% {
      opacity: 1;
      right:0;
  }
}